
.image-container {
    position: relative; /* Make the container a positioning context */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  
  .para{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  .icons{
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
   
    }